.menuBtn {
  background-color: darkgrey;
  height: 120px;
  width: 120px;
  border-radius: 30%;
  padding: 10px;
  margin: 20px;
}
.menuBtnTitle{
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: blue;
}
a {
  text-decoration: none;
}