.wrapper {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #00f0ff 100%),
    #1fa1ff;
  text-align: center;
  height: fit-content;
  padding: 10px;
}
.topHeader {
  display: flex;
  justify-content: space-between;
}
.topHeaderText {
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
.profileImg {
  height: 130px;
  border-radius: 100%;
  margin: 4% 0;
}
.bottomHeaderText p {
  color: #fff;
  margin: 0;
}
.logoutIcon {
  height: 30px;
  float: right;
}
