.container {
  background-color: #ccc;
  height: fit-content;
  padding: 5px 10px;
  line-height: 1.4;
}
.headerText {
  text-align: center;
  font-weight: bold;
  text-decoration-line: underline;
  padding: 0;
  margin: 0;
}
.date {
  font-weight: bold;
}
.title {
  float: right;
}
